OPENROUTER_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
HONEYPOT_PORTS=2222,2121
LOG_FILE_LINUX=/var/log/auth.log
LOG_FILE_WINDOWS=
AI_MODEL=nvidia/nemotron-3-8b-chat
OPENROUTER_URL=https://openrouter.ai/api/v1/chat/completions
ABUSEIPDB_API_KEY=
